{% extends 'base.html' %}
{% load static %}
{% block title %}SecuredCapitalFx|Referrals{% endblock %}


{% block body_block %}

{% include 'dashheader.html' %}
<section class="banner-area">
			<div class="banner-overlay">
				<div class="banner-text text-center">
					<div class="container">
						<!-- Section Title Starts -->
						<div class="row text-center">
							<div class="col-xs-12">
								<!-- Title Starts -->
								<h2 class="title-head">Referrals</h2>
								<!-- Title Ends -->
								<hr>
								<!-- Breadcrumb Ends -->
							</div>
						</div>
						<!-- Section Title Ends -->
					</div>
				</div>
			</div>
		</section>
        <!-- Banner Area Starts -->
        

        <section class="container">
      
                        
        <table class="table" style="font-size:90%" >

<hr>
  <thead>

  <tr>
      <th >Email</th>
      <th >Bonus</th>
      <th> Status</th>
  </tr>
  </thead>
  <tbody>
     
  </tbody>
</table>
                 
           </section>

{% include 'footer.html' %}
{% endblock  %}